<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Data" asp-page="/Departments/Index">Departments</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Data" asp-page="/Majors/Index">Majors</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Data" asp-page="/StudyPlans/Index">Study Plans</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Data" asp-page="/Semesters/Index">Semesters</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Data" asp-page="/Courses/Index">Courses</a>
</li>

