<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admission" asp-page="/Index">Admission</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="ApplicationReview" asp-page="/Index">Applications</a>
</li>

