@page
@using CampusCrafter.Models
@model CampusCrafter.Areas.Admission.Pages.Index

@{
    ViewData["Title"] = "Index";
}

<h2>Home > Admission</h2>

@if (Model.MadeAdmission)
{
    <div>
        You already filled admission
    </div>
}
else
{
    <a asp-area="Admission" asp-page="ChooseMajors" asp-route-majorDegree=0 class="btn btn-primary">first-degree study</a>
    <a asp-area="Admission" asp-page="ChooseMajors" asp-route-majorDegree=1 class="btn btn-primary">second-degree study</a>
}

<a asp-area="Admission" asp-page="ChooseMajors" asp-route-majorDegree=2 class="btn btn-secondary">score counter</a>