@page
@model CampusCrafter.Areas.Admission.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Home > Admission</h2>


<a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="1" class="btn btn-primary">Major</a>
<a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="0" class="btn btn-primary">Specialization</a>