@page
@using CampusCrafter.Models
@{
    ViewData["Title"] = "Index";
}

<h2>Home > Admission</h2>

@if (User.IsInRole("Candidate"))
{
    <a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="@MajorType.Major" class="btn btn-primary">Stage 1</a>
    <a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="@MajorType.Specialization" class="btn btn-primary">Specialization</a>
}
else
{
    <div>Login is needed for admission</div>
}