@page
@using CampusCrafter.Models
@{
    ViewData["Title"] = "Index";
}

<h2>Home > Admission</h2>


<a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="@MajorType.Major" class="btn btn-primary">Major</a>
<a asp-area="Admission" asp-page="ChooseMajors" asp-route-value="@MajorType.Specialization" class="btn btn-primary">Specialization</a>